doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Sehub Checked Your Report 
    body
        h1 Tutorial Title:
        h2 #{tutorialTitle}
        br
        h1 Your Report Title:
        h2 #{reportTitle}
        br
        h2 Your Report Description:
        p #{reportDesc}
        br
        h1 Sehub Response Title:
        h2 #{responseTitle}
        br
        h1 Sehub Response Description:
        h2 #{responseDesc}
        br
        h3 Your Reports Will Help Us Improve.
        br
        h4 Regards,
        h4 Sehub Support Team 